.node-gherkin_generator-form ul.sortable {
  list-style: none; }
.node-gherkin_generator-form label, .node-gherkin_generator-form .qualifier {
  font-size: 18px; }

.running-tests, .saving-tests {
  display: none; }
