.node-type-gherkin-generator {
  ul.sortable {
    list-style: none;
  }
  .scenario {
    li {
      font-size: 18px;
      line-height: 24px;
      list-style: none;

      div.help-block {
        font-size: 10px;
      }

    }

  }

  .spaces-two {
    margin-left: 10px;
  }

  .spaces-four {
    margin-left: 20px;
  }

  label, .qualifier {
    font-size: 18px;
  }

}

.running-tests, .saving-tests {
  display: none;
}