.node-gherkin_generator-form ul.sortable {
  list-style: none; }
.node-gherkin_generator-form .scenario li {
  font-size: 18px;
  line-height: 24px; }
  .node-gherkin_generator-form .scenario li div.help-block {
    font-size: 10px; }
.node-gherkin_generator-form label, .node-gherkin_generator-form .qualifier {
  font-size: 18px; }

.running-tests, .saving-tests {
  display: none; }
